openapi: 3.1.1
info:
  title: Movie Recommender
  description: Basic movie recommender
  version: 0.1.0
servers:
  - url: https://basic-movie-recommender.com/api/v1
    description: AWS production server
tags:
  - name: users
    description: Users
  - name: movies
    description: Movies
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
paths:
  /preferences:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  genres:
                    type: array
                    items:
                      type: string
                    example: ["Action", "Comedy"]
                  subscriptions:
                    type: array
                    items:
                      type: string
                    example: ["Netflix", "Amazon Prime"]
                  age-rating:
                    type: string
                    minLength: 1
                    maxLength: 5
                    example: "R"
                  humor:
                    type: string
                    minLength: 4
                    maxLength: 20
                    example: "dark"
        "401":
          description: Unauthorized
      tags:
        - users
      summary: User's preferences
      security:
        - bearerAuth: []
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                genres:
                  type: array
                  items:
                    type: string
                  example: ["action", "comedy"]
                subscriptions:
                  type: array
                  items:
                    type: string
                  example: ["Netflix", "Amazon Prime"]
                age-rating:
                  type: string
                  example: "R"
                humor:
                  type: string
                  example: "dark"
              anyOf:
                - required:
                    - genres
                - required:
                    - subscriptions
                - required:
                    - age-rating
                - required:
                    - humor
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      tags:
        - users
      security:
        - bearerAuth: []
      summary: User's preferences updating
  /recommend:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    example: "The Matrix"
                  year:
                    type: integer
                    example: 1999
                  rated:
                    type: string
                    example: "R"
                  genre:
                    type: string
                    example: "action"
                  director:
                    type: string
                    example: "The Wachowskis"
                  runtime:
                    type: integer
                    example: 136
                  poster:
                    type: string
                    format: uri
                    example: "https://image.tmdb.org/t/p/w600_and_h900_face/lDqMDI3xpbB9UQRyeXfei0MXhqb.jpg"
                  imdbRating:
                    type: number
                    format: double
                    example: 8.7
                  streaming-services:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: "Netflix"
                        image:
                          type: string
                          format: uri
                          example: "https://netflix.com/movies/the-matrix/logo.png"
                        url:
                          type: string
                          format: uri
                          example: "https://netflix.com/movies/the-matrix"
        "401":
          description: Unauthorized
      tags:
        - movies
      security:
        - bearerAuth: []
        - {}
      summary: Movie recommendation
  /history:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      example: "The Matrix"
                    genre:
                      type: string
                      example: "action"
                    recommended-at:
                      type: string
                      format: date-time
                      example: "2024-06-01T12:00:00Z"
        "401":
          description: Unauthorized
      security:
        - bearerAuth: []
      tags:
        - movies
      summary: Movies' recommendation history
  /watch-later:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                      example: "The Matrix"
                    added-at:
                      type: string
                      format: date-time
                      example: "2024-06-01T12:00:00Z"
        "401":
          description: Unauthorized
      tags:
        - movies
      security:
        - bearerAuth: []
      summary: Watch later list
    post:
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: "The Matrix"
              required:
                - title
      responses:
        "201":
          description: Created
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
      tags:
        - movies
      security:
        - bearerAuth: []
      summary: Add movie to watch later list